<!-- ======== HEADER =========== -->
<header class="header" id="header">
  <nav class="nav container">
    <a href="#" class="nav__logo">Kiran</a>
    <div
      class="nav__menu"
      id="nav-menu"
      [ngClass]="isToggel == true ? 'show-menu' : ''"
    >
      <ul class="nav__list grid">
        <li class="nav__item">
          <a href="#home" class="nav__link active-link" (click)="navToggle()">
            <i class="uil uil-estate nav__icon"></i>Home
          </a>
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link" (click)="navToggle()">
            <i class="uil uil-user nav__icon"></i>About
          </a>
        </li>
        <li class="nav__item">
          <a href="#skills" class="nav__link" (click)="navToggle()">
            <i class="uil uil-file-alt nav__icon"></i>Skills
          </a>
        </li>
        <!-- <li class="nav__item">
          <a href="#services" class="nav__link" (click)="navToggle()">
            <i class="uil uil-briefcase-alt nav__icon"></i>Services
          </a>
        </li> -->
        <li class="nav__item">
          <a href="#portfolio" class="nav__link" (click)="navToggle()">
            <i class="uil uil-scenery nav__icon"></i>Protfolio
          </a>
        </li>
        <li class="nav__item">
          <a href="#contact" class="nav__link" (click)="navToggle()">
            <i class="uil uil-message nav__icon"></i>Contact Me
          </a>
        </li>
      </ul>
      <i
        class="uil uil-times nav__close"
        id="nav-close"
        (click)="navToggle()"
      ></i>
    </div>
    <div class="nav__btns">
      <!-- Theme change button -->
      <i
        class="uil uil-moon change-theme"
        [ngClass]="isDark ? 'uil-sun' : 'uil-moon'"
        id="theme-button"
        (click)="toggelTheme()"
      ></i>
      <div class="nav__toggle" id="nav-toggle">
        <i class="uil uil-apps" (click)="navToggle()"></i>
      </div>
    </div>
  </nav>
</header>

<!--=============== MAIN ==================-->
<main class="main">
  <app-toaster></app-toaster>
  <!--============== HOME ===================-->
  <section class="home section" id="home">
    <div class="home__container container grid">
      <div class="home__content grid">
        <div class="home__social">
          <a
            href="https://linkedin.com/in/kiran-kumarm"
            target="_blank"
            class="home__social-icon"
          >
            <i class="uil uil-linkedin-alt"></i>
          </a>
          <a href="" target="_blank" class="home__social-icon">
            <i class="uil uil-dribbble"></i>
          </a>
          <a
            href="https://github.com/Kiran-KumarM"
            target="_blank"
            class="home__social-icon"
          >
            <i class="uil uil-github-alt"></i>
          </a>
        </div>
        <div class="home__img">
          <img
            src="assets/images/my_image.png"
            alt=""
            width="246px"
            height="247px"
          />
          <!-- <svg
            class="home__blob"
            viewBox="0 0 200 187"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <mask id="mask0" mask-type="alpha">
              <path
                d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547 
                130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 
                97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 
                0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"
              />
            </mask>
            <g mask="url(#mask0)">
              <path
                d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 
                165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 
                129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 
                -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"
              />
              <image class="home__blob-img" href="assets/images/my_image.png" />
            </g>
          </svg> -->
        </div>
        <div class="home__data">
          <h1 class="home__title">Hi, I'am Kiran Kumar M</h1>
          <h3 class="home__subtitle">Frontend Developer</h3>
          <p class="home__description">
            High level experience in web design and development knowledge,
            producing quality work.
          </p>
          <a href="#contact" class="button button--flex">
            Contact Me <i class="uil uil-message button__icon"></i>
          </a>
        </div>
      </div>
      <div class="home__scroll">
        <a href="#about" class="home__scroll-button button--flex">
          <i class="uil uil-mouse-alt home__scroll-mouse"></i>
          <span class="home__scroll-name">Scroll down</span>
          <i class="uil uil-arrow-down home__scroll-arrow"></i>
        </a>
      </div>
    </div>
  </section>
  <!--================= ABOUT =====================-->
  <section class="about section" id="about">
    <h2 class="section__title">About Me</h2>
    <span class="section__subtitle">My Introduction</span>
    <div class="about__container container grid">
      <lottie-player
        class="lottie-player"
        src="assets\lottile files\lottile.json"
        background="transparent"
        speed="1"
        loop
        autoplay
      ></lottie-player>
      <div class="about__data">
        <p class="about__description">
          I am an allround web developer, with extensive knowledge and years of
          experience, working in web technologies, delivering quality work. I
          love structure and order and I also stand for quality. I love spending
          time on fixing little details and optimizing web apps. Also I like
          working in a team, you'll learn faster and much more. As the saying
          goes: 'two heads are better than one.
        </p>
        <div class="about__info">
          <div>
            <i class="uil uil-award-alt"></i>
            <span class="about__info-title">Experience</span>
            <span class="about__info-name">04+ Years</span>
          </div>
          <div>
            <i class="uil uil-briefcase-alt"></i>
            <span class="about__info-title">Completed</span>
            <span class="about__info-name">20+ project</span>
          </div>
          <!-- <div>
            <span class="about__info-title">04+</span>
            <span class="about__info-name"
              >Companies <br />
              worked</span
            >
          </div> -->
        </div>
        <div class="about__buttons">
          <a download="" href="" class="button button--flex"
            >Download Resume
            <i class="uil uil-download-alt button__icon"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!--================= SKILLS =====================-->
  <section class="skills section" id="skills">
    <h2 class="section__title">Skills</h2>
    <span class="section__subtitle">My Technical Level</span>
    <div class="skills__container container grid">
      <div>
        <!--====== SKILL 1 =========-->
        <div class="skills__content">
          <div class="skills__header">
            <i class="uil uil-brackets-curly skills__icon"></i>
            <div>
              <h1 class="skills__title">Frontend Developer</h1>
              <span class="skills__subtitle">More than 4 years</span>
            </div>
          </div>
          <div class="skills__list grid">
            <div class="skills__data">
              <img
                src="assets/images/html-5.svg"
                loading="lazy"
                alt=""
                width="37px"
                height="37px"
              />
              <div>
                <div class="skills__title">
                  <h3 class="skills__name">HTML</h3>
                  <span class="skills__number">90%</span>
                </div>
                <div class="skills__bar">
                  <span
                    class="skills__percentage skills__html"
                    [style.width.%]="90"
                  ></span>
                </div>
              </div>
            </div>
            <div class="skills__data">
              <img
                src="assets/images/css3.svg"
                loading="lazy"
                alt=""
                width="37px"
                height="37px"
              />
              <div>
                <div class="skills__title">
                  <h3 class="skills__name">CSS</h3>
                  <span class="skills__number">80%</span>
                </div>
                <div class="skills__bar">
                  <span
                    class="skills__percentage skills__css"
                    [style.width.%]="80"
                  ></span>
                </div>
              </div>
            </div>

            <div class="skills__data">
              <img
                src="assets/images/angularjs.svg"
                loading="lazy"
                alt=""
                width="37px"
                height="37px"
              />
              <div>
                <div class="skills__title">
                  <h3 class="skills__name">Angular</h3>
                  <span class="skills__number">85%</span>
                </div>
                <div class="skills__bar">
                  <span
                    class="skills__percentage skills__angular"
                    [style.width.%]="85"
                  ></span>
                </div>
              </div>
            </div>
            <div class="skills__data">
              <img
                src="assets/images/typescript.svg"
                loading="lazy"
                alt=""
                width="37px"
                height="37px"
              />
              <div>
                <div class="skills__title">
                  <h3 class="skills__name">TypeScript</h3>
                  <span class="skills__number">70%</span>
                </div>
                <div class="skills__bar">
                  <span
                    class="skills__percentage skills__ts"
                    [style.width.%]="70"
                  ></span>
                </div>
              </div>
            </div>
            <div class="skills__data">
              <img
                src="assets/images/javascript.svg"
                loading="lazy"
                alt=""
                width="37px"
                height="37px"
              />
              <div>
                <div class="skills__title">
                  <h3 class="skills__name">JavaScript</h3>
                  <span class="skills__number">75%</span>
                </div>
                <div class="skills__bar">
                  <span
                    class="skills__percentage skills__js"
                    [style.width.%]="75"
                  ></span>
                </div>
              </div>
            </div>
            <div class="skills__data">
              <img
                src="assets/images/jquery.svg"
                loading="lazy"
                alt=""
                width="37px"
                height="37px"
              />
              <div>
                <div class="skills__title">
                  <h3 class="skills__name">JQuery</h3>
                  <span class="skills__number">55%</span>
                </div>
                <div class="skills__bar">
                  <span
                    class="skills__percentage skills__jq"
                    [style.width.%]="55"
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div> -->
      <!--====== SKILL 2 =========-->
      <!-- <div
          class="skills__content"
          (click)="onSkillClick(2)"
          [ngClass]="skill_index == 2 ? 'skills__open' : 'skills__close'"
        >
          <div class="skills__header">
            <i class="uil uil-server-network skills__icon"></i>
            <div>
              <h1 class="skills__title">Backend Developer</h1>
              <span class="skills__subtitle">More than 1 years</span>
            </div>
            <i class="uil uil-angle-down skills__arrow"></i>
          </div>
          <div class="skills__list grid">
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Firebase</h3>
                <span class="skills__number">70%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__html"></span>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div>
        <!--====== SKILL 3 =========-->
        <div class="skills__content">
          <div class="skills__header">
            <i class="uil uil-wrench skills__icon"></i>
            <div>
              <h1 class="skills__title">Tools</h1>
              <span class="skills__subtitle">More than 4 years</span>
            </div>
          </div>
          <div class="skills__list grid">
            <div class="skills__data">
              <i class="uil uil-github"></i>
              <div>
                <div class="skills__title">
                  <h3 class="skills__name">Git / Git Flow</h3>
                  <span class="skills__number">80%</span>
                </div>
                <div class="skills__bar">
                  <span
                    class="skills__percentage skills__git"
                    [style.width.%]="80"
                  ></span>
                </div>
              </div>
            </div>
            <div class="skills__data">
              <i class="uil uil-code-branch"></i>
              <div>
                <div class="skills__title">
                  <h3 class="skills__name">Team Foundation Server(TFS)</h3>
                  <span class="skills__number">90%</span>
                </div>
                <div class="skills__bar">
                  <span
                    class="skills__percentage skills__tfs"
                    [style.width.%]="90"
                  ></span>
                </div>
              </div>
            </div>
            <div class="skills__data">
              <i class="uil uil-visual-studio"></i>
              <div>
                <div class="skills__title">
                  <h3 class="skills__name">
                    Visual Studio Code / Micosoft Visual Studio
                  </h3>
                  <span class="skills__number">80%</span>
                </div>
                <div class="skills__bar">
                  <span
                    class="skills__percentage skills__vs"
                    [style.width.%]="80"
                  ></span>
                </div>
              </div>
            </div>
            <div class="skills__data">
              <i class="uil uil-adobe"></i>
              <div>
                <div class="skills__title">
                  <h3 class="skills__name">Adobe Photoshop</h3>
                  <span class="skills__number">50%</span>
                </div>
                <div class="skills__bar">
                  <span
                    class="skills__percentage skills__photoshop"
                    [style.width.%]="50"
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================= QUALIFICATION =====================-->
  <section class="qualification section">
    <h2 class="section__title">Qualification</h2>
    <span class="section__subtitle">My Personal Journey</span>
    <div class="qualification__container container">
      <div class="qualification__tabs">
        <div
          class="qualification__button button--flex"
          [ngClass]="qulifiactionIndex == 1 ? 'active' : ''"
          (click)="setQulificationIndex(1)"
        >
          <i class="uil uil-graduation-cap qualification__icon"></i>Education
        </div>
        <div
          class="qualification__button button--flex"
          [ngClass]="qulifiactionIndex == 2 ? 'active' : ''"
          (click)="setQulificationIndex(2)"
        >
          <i class="uil uil-briefcase-alt qualification__icon"></i>Work
        </div>
      </div>

      <div class="qualification__sections">
        <!--================= QUALIFICATION CONTENT  =====================-->

        <div
          class="qualification__content"
          [ngClass]="qulifiactionIndex == 1 ? 'qualification__active' : ''"
          id="education"
        >
          <!--================= QUALIFICATION 1 =====================-->
          <div class="qualification__data">
            <div>
              <h3 class="qualification__title">
                Electronics & Communication Engineering
              </h3>
              <span class="qualification__subtitle"
                >St.Joseph college of Engineering
              </span>
              <div class="qualification__calendar">
                <i class="uil uil-calendar-alt"></i>2014 - 2018
              </div>
            </div>
            <div>
              <span class="qualification__rounder"></span>
              <span class="qualification__line"></span>
            </div>
          </div>
          <!--================= QUALIFICATION 2 =====================-->
          <div class="qualification__data">
            <div></div>
            <div>
              <span class="qualification__rounder"></span>
              <span class="qualification__line"></span>
            </div>
            <div>
              <h3 class="qualification__title">
                Higher Secondary (HSC - 12th)
              </h3>
              <span class="qualification__subtitle"
                >St.Ann's Matriculation Higher Secondary School</span
              >
              <div class="qualification__calendar">
                <i class="uil uil-calendar-alt"></i>2013 - 2014
              </div>
            </div>
          </div>
          <!--================= QUALIFICATION 3 =====================-->
          <div class="qualification__data">
            <div>
              <h3 class="qualification__title">Matriculation (SSLC - 10th)</h3>
              <span class="qualification__subtitle"
                >St.Ann's Matriculation Higher Secondary School</span
              >
              <div class="qualification__calendar">
                <i class="uil uil-calendar-alt"></i>2011 - 2012
              </div>
            </div>
            <div>
              <span class="qualification__rounder"></span>
              <span class="qualification__line"></span>
            </div>
          </div>
        </div>
        <!--================= QUALIFICATION CONTENT 2 =====================-->

        <div
          class="qualification__content"
          [ngClass]="qulifiactionIndex == 2 ? 'qualification__active' : ''"
        >
          <!--================= QUALIFICATION 1 =====================-->
          <div class="qualification__data">
            <div>
              <h3 class="qualification__title">
                Application Development Senior Analyst
              </h3>
              <span class="qualification__subtitle">Accenture</span>
              <div class="qualification__calendar">
                <i class="uil uil-calendar-alt"></i>2022 - Current
              </div>
            </div>
            <div>
              <span class="qualification__rounder"></span>
              <span class="qualification__line"></span>
            </div>
          </div>
          <!--================= QUALIFICATION 2 =====================-->
          <div class="qualification__data">
            <div></div>
            <div>
              <span class="qualification__rounder"></span>
              <span class="qualification__line"></span>
            </div>
            <div>
              <h3 class="qualification__title">
                Application Development Analyst
              </h3>
              <span class="qualification__subtitle">Accenture</span>
              <div class="qualification__calendar">
                <i class="uil uil-calendar-alt"></i>2019 - 2021
              </div>
            </div>
          </div>
          <!--================= QUALIFICATION 3 =====================-->
          <!-- <div class="qualification__data">
            <div>
              <h3 class="qualification__title">fdsfdsf</h3>
              <span class="qualification__subtitle">Anna University</span>
              <div class="qualification__calendar">
                <i class="uil uil-calendar-alt"></i>2014 - 2018
              </div>
            </div>
            <div>
              <span class="qualification__rounder"></span>
              <span class="qualification__line"></span>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </section>
  <!--================= PORTFOLIO =====================-->
  <!--==================== PORTFOLIO ====================-->
  <!-- <section class="portfolio section" id="portfolio">
    <h2 class="section__title">Portfolio</h2>
    <span class="section__subtitle">Most recent works</span>

    <div class="portfolio__container container swiper-container">
      <div class="swiper-wrapper"> -->
  <!--==================== PORTFOLIO 1 ====================-->
  <!-- 
        <div class="portfolio__content grid swiper-slide">
          <img src="assets/img/portfolio1.jpg" alt="" class="portfolio__img" />

          <div class="portfolio_">
            <h3 class="portfolio__title">Modern Website</h3>
            <p class="portfolio__description">
              Website adaptable to all devices, with ui components and animated
              interactions.
            </p>
            <a
              href="#"
              class="button button--flex button--small portfolio__button"
            >
              Demo
              <i class="uil uil-arrow-right button__icon"></i>
            </a>
          </div>
        </div> -->

  <!--==================== PORTFOLIO 2 ====================-->
  <!-- 
        <div class="portfolio__content grid swiper-slide">
          <img src="assets/img/portfolio2.jpg" alt="" class="portfolio__img" />

          <div class="portfolio_">
            <h3 class="portfolio__title">Brand design</h3>
            <p class="portfolio__description">
              Website adaptable to all devices, with ui components and animated
              interactions.
            </p>
            <a
              href="#"
              class="button button--flex button--small portfolio__button"
            >
              Demo
              <i class="uil uil-arrow-right button__icon"></i>
            </a>
          </div>
        </div> -->

  <!--==================== PORTFOLIO 3 ====================-->

  <!-- <div class="portfolio__content grid swiper-slide">
          <img src="assets/img/portfolio3.jpg" alt="" class="portfolio__img" />

          <div class="portfolio_">
            <h3 class="portfolio__title">Online store</h3>
            <p class="portfolio__description">
              Website adaptable to all devices, with ui components and animated
              interactions.
            </p>
            <a
              href="#"
              class="button button--flex button--small portfolio__button"
            >
              Demo
              <i class="uil uil-arrow-right button__icon"></i>
            </a>
          </div>
        </div>
      </div> -->

  <!-- add arrows-->
  <!-- <div class="swiper-button-next">
        <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
      </div>

      <div class="swiper-button-prev">
        <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
      </div> -->

  <!-- Add Pagination -->
  <!-- <div class="swiper-pagination"></div>
    </div>
  </section> -->
  <!--==================== TESTIMONIAL ====================-->
  <!-- <section class="testimonial section">
    <h2 class="section__title">Testimonials</h2>
    <span class="section__subtitle">My client saying</span>

    <div class="testimonial__container swiper-container">
      <div class="swiper-wrapper"> -->
  <!--==================== TESTIMONIAL 1 ====================-->
  <!-- <div class="testimonial__content swiper-slide">
          <div class="testimonial__data">
            <div class="testimonial__header">
              <img
                src="assets/img/testimonial1.jpg"
                alt=""
                class="testimonial__img"
              />

              <div>
                <h3 class="testimonial__name">Sara Smith</h3>
                <span class="testimonial__client">Client</span>
              </div>
            </div>
            <div>
              <i class="uil uil-star testimonial__icon-star"></i>
              <i class="uil uil-star testimonial__icon-star"></i>
              <i class="uil uil-star testimonial__icon-star"></i>
              <i class="uil uil-star testimonial__icon-star"></i>
              <i class="uil uil-star testimonial__icon-star"></i>
            </div>
          </div>

          <p class="testimonial__description">
            I get a good impression, I carry out my project with all the
            possible quality and attention and support 24 hours a day.
          </p>
        </div> -->
  <!--==================== TESTIMONIAL 2 ====================-->
  <!-- <div class="testimonial__content swiper-slide">
          <div class="testimonial__data">
            <div class="testimonial__header">
              <img
                src="assets/img/testimonial2.jpg"
                alt=""
                class="testimonial__img"
              />

              <div>
                <h3 class="testimonial__name">John Doe</h3>
                <span class="testimonial__client">Client</span>
              </div>
            </div>
            <div>
              <i class="uil uil-star testimonial__icon-star"></i>
              <i class="uil uil-star testimonial__icon-star"></i>
              <i class="uil uil-star testimonial__icon-star"></i>
              <i class="uil uil-star testimonial__icon-star"></i>
              <i class="uil uil-star testimonial__icon-star"></i>
            </div>
          </div>

          <p class="testimonial__description">
            I get a good impression, I carry out my project with all the
            possible quality and attention and support 24 hours a day.
          </p>
        </div> -->
  <!--==================== TESTIMONIAL 3 ====================-->
  <!-- <div class="testimonial__content swiper-slide">
          <div class="testimonial__data">
            <div class="testimonial__header">
              <img
                src="assets/img/testimonial3.jpg"
                alt=""
                class="testimonial__img"
              />

              <div>
                <h3 class="testimonial__name">Lulu da Pomerânia</h3>
                <span class="testimonial__client">Client</span>
              </div>
            </div>
            <div>
              <i class="uil uil-star testimonial__icon-star"></i>
              <i class="uil uil-star testimonial__icon-star"></i>
              <i class="uil uil-star testimonial__icon-star"></i>
              <i class="uil uil-star testimonial__icon-star"></i>
              <i class="uil uil-star testimonial__icon-star"></i>
            </div>
          </div>

          <p class="testimonial__description">
            I get a good impression, I carry out my project with all the
            possible quality and attention and support 24 hours a day.
          </p>
        </div>
      </div> -->

  <!--Add pagination-->
  <!-- <div class="swiper-pagination swiper-pagination-testimonial"></div>
    </div>
  </section> -->
  <!--================= CONTACT ME =====================-->
  <section class="contact section" id="contact">
    <h2 class="section__title">Contact Me</h2>
    <span class="section__subtitle">Get in touch</span>
    <div class="contact__container container grid">
      <div>
        <a class="contact__link" href="tel:8667095979" target="_blank">
          <div class="contact__information">
            <i class="uil uil-phone contact__icon"></i>
            <div>
              <h3 class="contact__title">Call Me</h3>
              <span class="contact__subtitle">+91-866-709-5979</span>
            </div>
          </div>
        </a>
        <a
          class="contact__link"
          href="mailto:kiran.kumar.msingh@gmail.com"
          target="_blank"
        >
          <div class="contact__information">
            <i class="uil uil-envelope contact__icon"></i>
            <div>
              <h3 class="contact__title">Email</h3>
              <span class="contact__subtitle"
                >kiran.kumar.msingh@gmail.com</span
              >
            </div>
          </div>
        </a>
        <div class="contact__information">
          <i class="uil uil-map-marker contact__icon"></i>
          <div>
            <h3 class="contact__title">Location</h3>
            <span class="contact__subtitle"
              >Chennai - No.17C, Seethapathy 1st Street, Madhavaram</span
            >
          </div>
        </div>
      </div>

      <form
        action=""
        class="contact__form grid"
        name="contactForm"
        [formGroup]="contactForm"
      >
        <div class="contact__inputs grid">
          <div class="contact__content">
            <label class="custom-field one">
              <input
                type="text"
                placeholder="Enter Name"
                formControlName="name"
              />
              <span class="placeholder">Name</span>
            </label>
          </div>
          <div class="contact__content">
            <label class="custom-field one">
              <input
                type="email"
                placeholder="Enter Email"
                formControlName="email"
                [ngClass]="{
                  'is-invalid':
                    contactForm.get('email')?.touched &&
                    contactForm.get('email')?.invalid
                }"
              />
              <span class="placeholder">Email</span>
              <div
                *ngIf="
                  contactForm.get('email')?.touched &&
                  contactForm.get('email')?.invalid
                "
                class="invalid-feedback"
              >
                <div *ngIf="contactForm.get('email')?.errors?.['required']">
                  Email Name is required
                </div>
                <div *ngIf="contactForm.get('email')?.errors?.['email']">
                  Email must be a valid email Address
                </div>
              </div>
            </label>
          </div>
        </div>
        <div class="contact__content">
          <label class="custom-field one">
            <input
              type="text"
              placeholder="Enter Subject"
              formControlName="subject"
            />
            <span class="placeholder">Subject</span>
          </label>
        </div>
        <div class="contact__content">
          <label class="custom-field one">
            <textarea
              name=""
              id=""
              cols="0"
              rows="7"
              placeholder="Enter Message"
              formControlName="message"
            ></textarea>
            <span class="placeholder">Message</span>
          </label>
        </div>
        <div class="contact__button">
          <a
            class="button button--flex"
            (click)="onSubmit()"
            [ngStyle]="{
              'pointer-events': !contactForm.valid ? 'none' : 'unset'
            }"
          >
            Send Message
            <i class="uil uil-message button__icon"></i>
          </a>
        </div>
      </form>
    </div>
  </section>
  <!--================= FOOTER =====================-->
  <footer class="footer">
    <div class="footer__bg">
      <div class="footer__container container grid">
        <div>
          <h1 class="footer__title">Kiran</h1>
          <span class="footer__subtitle">Frontend developer</span>
        </div>
        <ul class="footer__links">
          <li>
            <a href="" class="footer__link">Services</a>
          </li>
          <li>
            <a href="" class="footer__link">Portfolio</a>
          </li>
          <li>
            <a href="" class="footer__link">Contact Me</a>
          </li>
        </ul>
        <!-- <div class="footer__social">
          <a href="" class="footer__social"> fb </a>
          <a href="" class="footer__social"> insta </a>
          <a href="" class="footer__social"> twitter </a>
        </div> -->
      </div>
      <p class="footer__copy">&#169; Kiran. All right reserved</p>
    </div>
  </footer>
  <!--================= SCROLL TOP =====================-->
  <a href="#" class="scrollup" id="scroll-up">
    <i class="uil uil-arrow-up scrollup__icon"></i>
  </a>
</main>

<!--================= SNACK BAR ======================-->
<div
  class="snackbar"
  [ngClass]="
    snackBar?.type == 'success'
      ? 'success'
      : snackBar?.type == 'error'
      ? 'error'
      : ''
  "
>
  <i
    class="uil"
    [ngClass]="
      snackBar?.type == 'success'
        ? 'uil-check-circle'
        : snackBar?.type == 'error'
        ? 'uil-times-circle'
        : ''
    "
  ></i>
  {{ snackBar?.message }}
</div>
